In [16]:
import seaborn as sns 
import pandas as pd
import numpy as np
df=sns.load_dataset("penguins")

In [17]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [41]:
# data has some null values
#to remove null values we use
df.dropna(inplace=True)
# now check for null values
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [47]:
#for purpose we take only four features
#bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g          
x=df.drop(["species","island","sex"],axis=1)
y=df.species

In [48]:
from sklearn.tree import DecisionTreeClassifier
dt_clf=DecisionTreeClassifier(max_depth=2)

In [49]:
from sklearn.model_selection import cross_val_score

In [73]:
print("model accuracy of {} :".format(dt_clf),cross_val_score(dt_clf,x,y,cv=10).mean())

model accuracy of DecisionTreeClassifier(max_depth=2) : 0.9518716577540107

#### Now we take some more models and evaluate accuracy  using cross validation

In [66]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier

In [67]:
rf_clf=RandomForestClassifier(max_depth=2)
sv_clf=SVC()
Ada_clf=AdaBoostClassifier()

In [72]:
models=[rf_clf,sv_clf,Ada_clf]
for model in models:
    print("model accuracy of {} model : ".format(model),cross_val_score(model,x,y,cv=10).mean())

model accuracy of RandomForestClassifier(max_depth=2) model :  0.954812834224599
model accuracy of SVC() model :  0.7269162210338681
model accuracy of AdaBoostClassifier() model :  0.8079322638146167

from the above results we see Random forest classifier will give highest accuracy